
@{
    ViewBag.Title = "AdminFail";
}
<h1>
    Your passworw or Email are invalid
</h1>

<style>
    .form-actions {
        display: inline-block;
        margin-right: 10px; /* Adjust as needed */
    }
</style>


<div class="form-actions no-color">
    <form action="AdminLogIn">
        <input type="submit" value="Retry" class="btn btn-outline-danger" />
    </form>
</div>

