
@{
    ViewBag.Title = "EmployeeFail";
}

<h2>Employee password or Email is invalid</h2>

<style>
    .form-actions {
        display: inline-block;
        margin-right: 10px; /* Adjust as needed */
    }
</style>


<div class="form-actions no-color">
    <form action="EmployeLogIn">
        <input type="submit" value="Retry" class="btn btn-outline-danger" />
    </form>
</div>