@{
    ViewBag.Title = "Home Page";
}
<style>
    body{
       
        text-align:center;
        color:black;
        text-decoration-style:solid;
    }
    .login{
        left:2%;
        top:4%;
        width:96%;
        height:500px;
        
    }
</style>
<div class="login">
<h1>Welcome</h1>
</div>