@{
    ViewBag.Title = "LogIn";
}

<style>
    .form-actions {
        display: inline-block;
        margin-right: 10px; /* Adjust as needed */
    }
</style>

<h2>Welcome To LogIn Section</h2>
<div class="form-actions no-color">
    <form action="AdminLogIn">
        <input type="submit" value="Admin" class="btn btn-outline-danger" />
    </form>
</div>
<div class="form-actions no-color">
    <form action="EmployeLogIn">
        <input type="submit" value="Employee" class="btn btn-outline-primary" />
    </form>
</div>
